.wrapper {
    display: flex;
    gap: 60px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 480px;
}

.form div {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: end;
    align-items: center;
}

.actions .cancel {
    width: auto;
    margin-left: auto;
    color: var(--color-accent);
    cursor: pointer;
}