.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 52px;
}

.price {
  display: flex;
  align-items: center;
}

.price svg {
  width: 36px;
  height: 36px;
}

.disabledButton button {
  pointer-events: none;

}